.sender{
   
    font-size: 30px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    width: 90%;
    background-color: #0084FF;
    color: white;
    width: wr;
    border-radius: 100px;
    margin: 10px;
}
.sender>span,.receiver>span{
    font-family: Helvetica, Arial, sans-serif;
    padding: 5px;
    margin-left: 20px;
 
   
}
.receiver{
    background-color: darkgray;
    font-size: 30px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    border-radius: 100px;
    margin: 10px;

}
.messages{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 80%;
    margin: 10px;
    /* overflow: scroll; */
    overflow-y: scroll;
}
.send-message-input{
    width: 70%;
    display: inline;
    margin-right: 20px;
    margin-left: 10px;
}

.send-message-button{
    width: 18%;
}