.messanger{
    display: flex;
    height: calc(100vh );

}
.conversations-wrapper{
flex-basis: 20%;
background-color: rgb(171, 173, 173);
}

.chat-wrapper{
    flex-basis: 60%;
background-color: lightgray;
}
.users-wrapper{
    flex-basis: 20%;
background-color: green;
flex-grow: 1;
}

