.messanger{
    display: flex;
    height: calc(100vh );

}
.conversations-wrapper{
flex-basis: 20%;
background-color: white;
}

.chat-wrapper{
    flex-basis: 50%;
background-color: white;
}
.users-wrapper{
    flex-basis: 20%;
    background-color: white;
    flex-grow: 1;
}

